<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/layout}">

<head>
    <link th:href="@{/css/today.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/today-right-side.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/today-footer.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/today.js}"></script>
    <script th:src="@{/js/today-ajax.js}"></script>
    <title>完了済みのタスク</title>
</head>

<body>
    <div layout:fragment="taskTitle">
        <div class="task-title">完了済みのタスク</div>
    </div>
    <div layout:fragment="taskType">
        <input type="hidden" id="hiddenType" name="hd-type" value="done">
    </div>
</body>

</html>